/ Button trigger modal
%button.btn{"data-target" => "#exampleModalLong", "data-toggle" => "modal", :type => "button"}
  Fill checklist
= link_to 'To Checklists Page', checklists_path, class: 'btn', class: 'btn'  
  
/ Modal
#exampleModalLong.modal.fade.audits-modal-form{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLongTitle", role: "dialog", :tabindex => "-1"}
  .modal-dialog{role: "document"}
    .modal-content
    
      .modal-header
        %h5
          Checklists:
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          
      .modal-body
        = render 'modal_content_checklists'
        

